---
import "../style/general.css";
import Layout from "../layouts/Layout.astro";
import AboutHero from "../components/AboutHero.astro";
import TimelineCard from "../components/TimelineCard.astro";
import ProfileCard from "../components/ProfileCard.astro";
import ActionCard from "../components/ActionCard.astro";

const timeline = [
  {
    number: "#01",
    title: "Højskolen startede tankestrømmen",
    text: "TankeStrøm blev født en mild forårsaften i 2023 på Testrup Højskole, hvor en lille gruppe elever og lærere samledes under tagryggen i undervisningslokalet 'Loftet'. Formålet var meget simpelt: at blive klogere - sammen. Hver måned blev et nyt emne præsenteret af en lærer eller elev, og efterfølgende åbnede vi op for fri diskussion, hvor tankerne virkelig kunne strømme frit.",
  },
  {
    number: "#02",
    title: "TankeStrøm tænder for lyder",
    text: "Efter højskoleopholdet besluttede flere af os - Simon Løffler Puggaard, Anna-Barbara Weile og Esben Rohan Christensen - at fortsætte arbejdet med TankeStrøm. Den 22. februar 2024 udgav vi vores første officielle podcast, 'Kvantefysik møder Queerness', og fejrede det med et åbent event på Roland Bar ved Københavns Universitet. I dette podcast og ved eventet udforskede vi, hvordan naturvidenskab og humaniora kan krydse hinanden og tilbyde nye perspektiver på at navigere paradokser - både i kvantefysik og queer-teori.",
  },
  {
    number: "#03",
    title: "TankeStrøm skaber rum for tanke",
    text: "I maj 2024 afholdt vi et nyt event og havde podcastrelease om temaet 'Hvordan teknologien er flyttet ind i mennesket'. Vi inviterede vores egen filosof Björk Mo van Dijk til at dele sine indsigter om teknologiens intime relation til mennesket, og hvordan vi må forholde os til denne nye virkelighed for at navigere teknologien på en sund måde. Dette event blev afholdt i både København og Aarhus med interaktive diskussioner, herunder Fishbowl-metode, som skabte et trygt rum, hvor alle deltagere kunne komme til orde og dele deres tanker.",
  },
  {
    number: "#04",
    title: "Ord og natur med TankeStrøm",
    text: "Den 2. juni 2024 var vi i Øens Have på Refshaleøen med et event om Naturens poesi, som blev støttet med midler fra Snabslanten. Her læste TankeStrøms egen litterat, Marcus Agerschou-Jensen, udvalgte digte fra nyere dansk naturpoesi, hvorefter deltagerne fik mulighed for at skabe deres egne tekster. Senere på sommeren udkom podcasten om samme emne, hvor vi talte med Claus Emmeche – biolog og naturfilosof.",
  },
  {
    number: "#05",
    title: "TankeStrøm til Folkemødet",
    text: "Kort efter Øens Have-eventet deltog vi i Folkemødet på Bornholm i juni 2024, hvor vi fik tildelt et wildcard til F&P-teltet. Her afholdt vi en interaktiv debat om alt fra kvantecomputere til sexrobotter, inspireret af vores podcast om teknologi og menneske.",
  },
  {
    number: "#06",
    title: "TankeStrøm Skaber dialog på skolerne",
    text: "I efteråret 2024 var TankeStrøm mindre synlig på podcast- og eventfronten, men vi var meget aktive med oplæg på aftenskoler, gymnasier og højskoler, hvor vi fortsatte vores arbejde med at udforske tværfaglige temaer.",
  },
  {
    number: "#07",
    title: "Kaos, kontrol og klubhus",
    text: "Forårssemestret 2025 blev skudt igang med vores eget event om Kaos & Kontrol - hvordan vi navigerer det uforudsigelige. Det blev afholdt på Vartov, som fungerer som vores nye 'klubhus' til fremtidige events. Her havde vi både en talk med en kaospiloten Mathias Switzer og religionsvidenskaber Ellen Møller, samt en skrive-workshop afholdt af Marcus.",
  },
  {
    number: "#08",
    title: "Vi Sætter strøm til sommeren",
    text: "Sommeren 2025 bringer nye spændende events (bl.a. Folkemødet 2025!) og podcasts, som vi har arbejdet på i længere tid. Fra udforskning af naturens mysterier til at navigere i kaos - vi er klar til at bringe flere fællesskaber og ideer til live. Stay tuned!",
  },
];
---

<Layout>
  <AboutHero />
  <section class="vision-section">
    <h3>VORES VISION</h3>
    <div class="grid_1-1">
      <p>
        TankeStrøm er et tværfagligt vidensfællesskab, der vil gøre videnskab
        levende, relevant og tilgængelig for alle. Vi tror på, at
        naturvidenskaben får sin største styrke, når den møder andre
        fagligheder, og når viden deles åbent og i dialog. Inspireret af
        højskolens værdier skaber vi et inkluderende fællesskab med plads til
        faglig fordybelse, nysgerrighed og dannelse - hvor specialister og
        generalister sammen udforsker og forstår verden bedre. Gennem podcasts,
        live events, undervisning og digitale platforme inviterer vi alle til at
        deltage aktivt og opleve, hvordan videnskab kan berige både hverdagen og
        samfundet.
      </p>
      <img src="/public/img/webp/vision.webp" alt="" class="order-1" />
    </div>
  </section>
  <section class="timeline-section">
    <h3>TANKESTRØMMENS BØLGER GENNEM ÅRENE</h3>
    <h5>
      Fra idé til fællesskab - se, hvordan TankeStrøm har udviklet sig til et
      levende vidensnetværk i dag
    </h5>
    <div class="timeline">
      {
        timeline.map((item, index) => (
          <TimelineCard
            number={item.number}
            title={item.title}
            text={item.text}
            align={index % 2 === 0 ? "left" : "right"}
          />
        ))
      }
    </div>
  </section>
  <section class="founders">
    <h3>UNDER STRØMMEN</h3>
    <h5>Mød menneskerne bag Tankestrøm</h5>
    <p>
      TankeStrøm blev født en mild forårsaften i 2023 på Testrup Højskole, hvor
      en lille gruppe elever og lærere samledes under tagryggen i
      undervisningslokalet "Loftet".
    </p>
    <p>
      Formålet var meget simpelt: at blive klogere - sammen. Hver måned blev et
      nyt emne præsenteret af en lærer eller elev, og efterfølgende åbnede vi op
      for fri diskussion, hvor tankerne virkelig kunne strømme frit.
    </p>
    <p>
      Efter højskoleopholdet besluttede flere af os - Simon Løffler Puggaard,
      Anna-Barbara Weile og Esben Rohan Christensen - at fortsætte arbejdet med
      TankeStrøm.
    </p>
    <div class="auto-grid">
      <ProfileCard
        img="/public/img/webp/esben.webp"
        img_text="Esben Rohan Christensen"
        name="Esben"
      >
        <p>
          Jeg har været med til at stifte TankeStrøm i 2023 og som forperson har
          jeg flere hatte, da jeg står for den daglige ledelse, men jeg er også
          med som tværfaglig formidler til vores events og podcasts. Mine
          interesser spænder bredt naturvidenskab til filosofi og humaniora: fra
          at prøve at forstå universets mindste dele til at blive klogere på,
          hvad det vil sige at være menneske gennem vores sprog og kultur.
        </p>
        <p>
          Til vores events, som f.eks. på Folkemødet i 2024, har jeg set,
          hvordan TankeStrøms tilgang skaber plads til, at alle kan deltage i
          samtaler om komplekse emner. Uanset hvilken faglig baggrund man har,
          føler man sig hørt, og man får noget konkret med sig, som man kan
          bruge i sit eget liv. I en tid, hvor mange store problemer er tæt
          forbundne, er det vigtigere end nogensinde at bygge bro - ikke bare
          mellem vidensfelter, men også mellem mennesker med forskellige
          baggrunde.
        </p>
      </ProfileCard>
      <ProfileCard
        img="/public/img/webp/simon.webp"
        img_text="Simon Løffler Puggaard"
        name="Simon"
      >
        <p>
          Jeg hedder Simon, og har været med til at starte Tankestrøm. Her gør
          jeg mig umage med, at vi udvikler en solid faglig formidling af
          tværvidenskab, og jeg er sammen med andre stærke kræfter med til at
          definere projektet.
        </p>
        <p>
          Når jeg ikke gør dette, læser jeg sociologi. Jeg er desuden bachelor i
          psykologi, og har her oplevet hvordan afgrænsningen af akademiske
          felter ikke er 'naturlige', men noget vi sammen har fundet på.
        </p>
        <p>
          Derfor er der også vigtigt for mig, at vi gør en ekstra indsats for at
          få blik for tværfaglighedens potentiale, så vi ikke mister
          orienteringen ved kun at have isoleret ekspertviden
        </p>
      </ProfileCard>
      <ProfileCard
        img="/public/img/webp/anna-barbara.webp"
        img_text="Anna-Barbara Weile"
        name="Anna-Barbara"
      >
        <p>
          Mit navn er Anna-Barbara Weile, og jeg er litteraturstuderende med et
          stort engagement i dannelse, fællesskab og samfundsdebat.
        </p>
        <p>
          Jeg blev student under coronapandemien, hvor jeg oplevede, hvor
          vigtigt det er, at uddannelse ikke kun handler om karakterer, men også
          om livsoplysning, nysgerrighed og fællesskab.
        </p>
        <p>
          Jeg har skrevet debatindlæg om unges alkoholforbrug og om behovet for
          sociale fællesskaber uden alkohol. Jeg skriver og deltager jævnligt i
          samfundsdebatten, blandt andet i medier som Kristeligt Dagblad og
          Kontrast.
        </p>
      </ProfileCard>
      <ProfileCard
        img="/public/img/webp/anna-barbara.webp"
        img_text="Anna-Barbara Weile"
        name="Anna-Barbara"
      >
        <p>
          Mit navn er Anna-Barbara Weile, og jeg er litteraturstuderende med et
          stort engagement i dannelse, fællesskab og samfundsdebat.
        </p>
        <p>
          Jeg blev student under coronapandemien, hvor jeg oplevede, hvor
          vigtigt det er, at uddannelse ikke kun handler om karakterer, men også
          om livsoplysning, nysgerrighed og fællesskab.
        </p>
        <p>
          Jeg har skrevet debatindlæg om unges alkoholforbrug og om behovet for
          sociale fællesskaber uden alkohol. Jeg skriver og deltager jævnligt i
          samfundsdebatten, blandt andet i medier som Kristeligt Dagblad og
          Kontrast.
        </p>
      </ProfileCard>
    </div>
  </section>
  <section class="action-section">
    <h3>FØLG MED I FREMTIDENS LÆRING</h3>
    <ActionCard
      icon="/svg/mail-icon.svg"
      icon_text="mail-ikon"
      headline="Har du spørgsmål eller brug for mere information?"
      text="Uanset om du vil vide mere om vores events, ønsker at booke TankeStrøm til undervisningen, eller har andre spørgsmål, er du altid velkommen til at sende os en mail. Vi svarer hurtigt og hjælper dig gerne videre!"
      buttonLabel="SKRIV EN MAIL TIL OS"
      buttonHref="mailto:connect@adviceagency.com"
    />
    <ActionCard
      icon="/svg/instagram-logo.svg"
      icon_text="instagram-logo"
      headline="Følg os på Instagram"
      text="Bliv en del af TankeStrøms fællesskab til dagligt, hvor vi deler inspirerende, inviterende og engagerende indhold. Her kan du få et indblik i vores events, spændende idéer og alt det, der gør læring og formidling levende. Kom med på rejsen - vi glæder os til at møde dig!"
      class="reverse"
      buttonLabel="FØLG OS PÅ INSTAGRAM"
      buttonHref="https://www.instagram.com/tankestroemdk/"
    />
    <ActionCard
      icon="/svg/spotify-logo.svg"
      icon_text="spotify-logo"
      headline="Lyt til TankeStrøms podcast på Spotify"
      text="Tag dig tid til at fordybe dig i spændende samtaler og få eksperters unikke perspektiver på viden, læring og forståelse. Vores podcast inviterer dig med bag facaden, hvor komplekse idéer bliver gjort tilgængelige og inspirerende. Perfekt til dig, der elsker at udforske nye tanker og blive klogere - når det passer dig."
      buttonLabel="LYT PÅ SPOTIFY"
      buttonHref="https://open.spotify.com/show/1AH8kRvJYIjAS325C9SIhg?si=600a8328c04b4397"
    />
  </section>
</Layout>
<style>
  section {
    padding: 40px 15px;
  }
  h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    background:
      linear-gradient(var(--black), var(--black)) padding-box,
      var(--logo-grad) border-box; /* 2 lag, padding-box indeni, border-box inkl border */
    border-bottom: 2px solid transparent;
  }
  .vision-section img {
    border-radius: 10px;
  }
  .grid_1-1 {
    display: grid;
    gap: 10px;
  }
  .order-1 {
    order: -1;
  }
  .timeline-section h5 {
    padding: 20px 0px 10px;
  }
  .founders p {
    margin: 10px 0;
  }
  .auto-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }
  @media screen and (min-width: 850px) {
    section {
      max-width: 1200px;
      margin: 0 auto;
    }
    .grid_1-1 {
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .order-1 {
      order: 0;
    }
    .vision-section img {
      width: 400px;
      height: auto;
      margin: 50px auto;
      border-radius: 20px;
    }
    .vision-section p {
      align-self: center;
    }
    .timeline {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 250px;
      max-width: 1200px;
      grid-auto-rows: auto;
      align-items: start;
      margin: 0 auto;
      position: relative; /* nødvendigt for ::before */
    }
    .timeline::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      background: var(--logo-grad);
      z-index: 0;
    }
    .timeline-card {
      max-width: 500px;
    }
  }
</style>
