---
import "../style/general.css";
import Layout from "../layouts/Layout.astro";
import IndexHero from "../components/IndexHero.astro";
import Button from "../components/Button.astro";
const {
  buttonLabel,
  buttonHref,
  buttonLabel1,
  buttonHref1,
  buttonLabel2,
  buttonHref2,
} = Astro.props;
---

<Layout>
  <IndexHero
    buttonLabel1="ALLE EVENTS"
    buttonHref1="/eventlist"
    buttonLabel2="OM TANKESTRØM"
    buttonHref2="/about"
  />

  <section class="hvad_er_ts">
    <div class="grid_1-1">
      <div>
        <!-- indsæt image here -->
        <img
          src="/img/webp/hvad_er_ts.webp"
          alt="6 mennesker, der står i en cirkel og taler"
        />
      </div>
      <div>
        <h3>HVAD ER TANKESTRØM?</h3>
        <p>
          TankeStrøm er et fællesskab, der på tværs af faglighed og interesser,
          dykker ned i viden. Det er for dig, der vil udvide deres perspektiver,
          deltage i tværfaglige samtaler og være en del af noget meningsfuldt. <br
          /> Vi mindsker usikkerhed, elitære forventninger og følelsen af at stå
          alene med dine indsigter Vi styker din inspiration, intellektuel tryghed
          og oplevelsen af fællesskab og refleksion.
        </p>
        <Button href="/about" label="OM TANKESTRØM" />
      </div>
    </div>
  </section>

  <section class="ts_i_undervisning">
    <div class="grid_1-1">
      <div>
        <h3>TANKESTRØM I UNDERVISNINGEN?</h3>

        <!-- <h5>Et fællesskab for nysgerrighed og eftertanke</h5> -->
        <p>
          TankeStrøm kan være din gæst – i klasselokalet, på højskolen eller til
          morgensamlingen.Vi skaber rum for refleksion, samtale og faglig
          undren, hvor elever og lærere mødes som mennesker – ikke bare som fag. <br
          /> Gennem tværfaglige oplæg, levende fortællinger og samtalesaloner inviterer
          vi til at tænke højt sammen. Vi blander filosofi, kunst, naturvidenskab
          og samfundsspørgsmål – og tror på, at vi forstår verden bedst, når vi lytter
          til hinandens perspektiver. TankeStrøm kan bidrage med oplæg, workshops
          eller bidrage til debat om præstationskultur.
        </p>
        <Button href="/kontakt" label="KONTAKT OS" />
      </div>

      <div>
        <!-- indsæt image here -->
        <img
          src="/img/webp/ts_i_undervisning.webp"
          alt="Person, der står blandt en gymanieklasse og taler"
        />
      </div>
    </div>
  </section>

  <style>
    section {
      padding: 40px 15px;
    }

    img {
      border-radius: 10px;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
      max-width: 1200px;
      margin: 0 auto;
    }
    h3 {
      margin-bottom: 15px;
      background:
        linear-gradient(var(--black), var(--black)) padding-box,
        var(--logo-grad) border-box; /* 2 lag, padding-box indeni, border-box inkl border */
      border-bottom: 2px solid transparent;
    }

    h5 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .grid_1-1 img {
      border-radius: 20px;
    }

    @media screen and (min-width: 850px) {
      .grid_1-1 {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 90px;
      }

      img {
        border-radius: 20px;
      }
    }
  </style>
</Layout>
