---

---

<section>
  <div class="overlay">
    <div class="title-wrapper">
      <h1 class="h-no1">KOMMENDE</h1>
      <h1 class="h-no2">EVENTS</h1>
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    height: 100vh;
    background-image: url("/img/webp/eventlist-hero.webp");
    background-size: cover;
    background-position: right center; /* prioriterer højre side af billedet */
    margin-bottom: 40px;
  }
  /* mørkere baggrundslag med 50% opacity */
  section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* sort med 50% opacity */
    z-index: 0;
  }
  .overlay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0px 10px;
  }
  .title-wrapper {
    padding-top: 200px;
  }
  h1 {
    font-size: clamp(1.8rem, 13vw, 9.25rem); /* skalerer responsivt */
  }
  .h-no2 {
    text-align: end;
  }

  @media screen and (min-width: 850px) {
    section {
      background-position: center; /* viser nu midten af billedet */
      margin-bottom: 60px;
    }
  }
</style>
