---

---

<article>
  <div class="event-date-container"></div>
  <div class="event-container">
    <h4>Event Title</h4>
    <div class="event-info">
      <div class="text-info">
        <p class="event-type">EVENTTYPE</p>
        <p class="organizer">Navn på facilitator</p>
        <div class="event-description">
          <p>text</p>
          <p>text</p>
        </div>
      </div>
      <div class="box-info">
        <div class="location-container">
          <a class="event-location"></a>
          <img src="" alt="Lokationsikon" />
        </div>
        <div class="btn"></div>
      </div>
    </div>
  </div>
</article>
