---
import Button from "../components/Button.astro";
const { buttonLabel1, buttonHref1, buttonLabel2, buttonHref2 } = Astro.props;
---

<section class="hero">
  <video class="hero-video" autoplay muted loop playsinline>
    <source src="/video/hero-vid.mp4" type="video/mp4" />
  </video>
  <div class="overlay">
    <div class="title-wrapper">
      <h1 class="en_tanke">ÉN TANKE STARTER <i>STRØMMEN</i></h1>
    </div>

    <div class="hero_txt">
      <p>
        Er du nysgerrig på verden – og på dig selv? <br /> Hos TankeStrøm mødes unge
        i fællesskaber, hvor viden, refleksion og personlig udvikling hænger sammen.
        Du har mulighed for at opnå viden, der udvikler dig og opleve et fællesskab,
        der løfter dig. <br /> Bliv en del af samtalen – og se, hvad der strømmer
        til dig.
      </p>
      <div class="buttons">
        <Button href={buttonHref1} label={buttonLabel1} />
        <Button href={buttonHref2} label={buttonLabel2} />
      </div>
    </div>
  </div>
</section>

<style>
  .hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
    padding-left: 0px;
  }

  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Sørger for at videoen dækker hele området */
    z-index: -1; /* Sætter videoen bag teksten */
  }
  /* mørkere baggrundslag med 50% opacity */
  section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* sort med 50% opacity */
    z-index: 0;
  }
  .overlay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0px 15px;
    gap: 20px;
  }
  .title-wrapper {
    padding-top: 200px;
  }
  .en_tanke {
    font-size: clamp(2.8rem, 5vw, 2rem); /* Mindre end h1 */
    text-align: center;
  }

  .hero_txt {
    padding-bottom: 30px;
    text-align: center;
    padding-top: 30;
  }

  .buttons {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding-top: 30px;
  }

  @media screen and (min-width: 850px) {
    .overlay {
      padding: 0px 30px;
    }

    .title-wrapper {
      display: block; /* <--- vigtig ændring */
      padding-top: 300px;
    }

    .en_tanke {
      font-size: clamp(4.7rem, 5vw, 3rem); /* Større end h1 */
      text-align: left;
    }
    /* Removed invalid font-size line */

    .hero {
      padding-left: 30px;
      padding-right: 0px;
    }
    .hero_txt {
      padding-bottom: 15px;
      max-width: 600px;
      max-width: 700px;
      text-align: left;
    }

    .buttons {
      gap: 10px;
      justify-content: left;
      padding-top: 10px;
    }
  }
</style>
