---

---

<header>
  <div class="logo">
    <a href="/">
      <img
        src="/svg/logo.svg"
        class="logo-w-text"
        alt="Tankestrøms logo med tekst"
      />
      <img
        src="/svg/logo-icon.svg"
        class="logo-icon"
        alt="Tankestrøms logo uden tekst"
      />
    </a>
  </div>
  <nav>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <span>MENU</span>
    </div>
    <div class="menu">
      <h1 class="menu-heading">MENU</h1>
      <ul>
        <li><a href="/">FORSIDE</a></li>
        <li><a href="/eventlist">EVENTS</a></li>
        <li><a href="/about">OM OS</a></li>
        <li><a href="/ai_bot">AI-BOT</a></li>
        <li><a href="/contact">KONTAKT</a></li>
      </ul>
      <h4>FØLG OS PÅ<br />SOCIALE MEDIER</h4>
      <div class="flex-icons">
        <a
          href="https://www.facebook.com/people/TankeStr%C3%B8m/61554660120240/?locale=da_DK"
        >
          <img src="/svg/facebook-logo.svg" alt="Facebook logo" /></a
        >
        <a href="https://www.instagram.com/tankestroemdk/"
          ><img src="/svg/instagram-logo1.svg" alt="Instagram logo" /></a
        >
        <a href=""><img src="/svg/linkedin-logo.svg" alt="LinkedIn logo" /></a>

        <a href=""><img src="/svg/x-logo.svg" alt="X logo" /></a>
      </div>
    </div>
  </nav>
</header>

<script>
  //@ts-nocheck
  document.addEventListener("DOMContentLoaded", function () {
    const burger = document.querySelector(".burger");
    const nav = document.querySelector("nav");
    const menu = document.querySelector(".menu");

    burger.addEventListener("click", burgerClick);
    function burgerClick() {
      burger.classList.toggle("active");
      nav.classList.toggle("active");
      menu.classList.toggle("active");
    }

    menu.addEventListener("click", menuClick);
    function menuClick() {
      burger.classList.remove("active");
      nav.classList.remove("active");
      menu.classList.remove("active");
    }
  });
</script>

<style>
  /* Header menu*/
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(17, 16, 16, 0.6); /* sort med 40% opacitet */
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    z-index: 200;
  }

  /* body {
    padding-top: 98px; 
  } */

  /* Logoer */
  .logo {
    position: relative;
    z-index: 201;
  }
  .logo-w-text {
    display: none;
    z-index: 201;
  }
  .logo-icon {
    width: 51.5px;
    height: 51.5px;
    z-index: 201;
  }

  /* Burger "ikon" */
  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 201;
  }
  /* "MENU" teksten i burgerikonet */
  .burger span {
    font-family: "helvetica_neue_lt_std75_bold";
    font-size: 17px;
    margin-top: 5px;
  }
  /* Linjerne i burgerikonet */
  .burger .line {
    width: 50px;
    height: 3px;
    background: var(--white);
    margin: 4px 0;
    transition: 0.3s;
  }

  /* Drop down menu */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 20;
  }
  .menu.active {
    transform: translateY(0);
  }
  .menu-heading {
    color: var(--black);
    align-self: flex-start;
    padding-left: 15px;
    margin-bottom: 70px;
  }
  .menu ul {
    list-style: none;
    padding-right: 15px;
    width: 100%;
  }
  .menu li {
    padding-bottom: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: end;
  }
  .menu a {
    font-family: "helvetica_neue_lt_std95_black";
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
  }
  .menu li a {
    position: relative;
  }

  .menu li a::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -5px;
    width: 0%;
    background-image: var(--logo-grad);
    transition: width 0.3s;
  }

  .menu li a:hover::after {
    width: 100%;
  }
  .menu h4 {
    color: var(--black);
    text-align: right;
    width: 100%;
    margin-top: 50px;
    padding-right: 15px;
  }
  .menu span {
    font-size: 20px;
  }
  .flex-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    padding-right: 15px;
    justify-content: flex-end;
  }
  .flex-icons a:hover {
    transform: scale(1.1);
  }
  .flex-icons img {
    width: 30px;
    height: 30px;
  }

  /* burger-linjernes classes der kaldes i js */
  .burger.active .line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    transition: 0.25s linear;
    background: var(--black);
  } /* En linje drejer 45 grader, 5px til højre (X-aksen) og 5px nedad (Y-aksen)*/

  .burger.active .line:nth-child(2) {
    transform: translateY(-6px) rotate(-45deg);
    transition: 0.25s linear;
    background: var(--black);
  } /* En linje drejer 45 grader, 5px til højre (X-aksen) og 5px nedad (Y-aksen)*/

  .burger.active span {
    display: none;
  }

  @media screen and (min-width: 850px) {
    header {
      padding: 15px 50px;
    }
    /* Logo */
    .logo-w-text {
      display: block;
      max-width: 300px;
    }
    .logo-icon {
      display: none;
    }
    /* "MENU" teksten i burgerikonet */
    .burger span {
      font-size: 20px;
    }
    /* Linjerne i burgerikonet */
    .burger .line {
      width: 60px;
      height: 5px;
    }
    .menu-heading {
      padding-left: 50px;
      margin-top: 20px;
      margin-bottom: 0px;
    }
    .menu ul {
      padding-right: 50px;
    }
    .menu li {
      font-size: 50px;
      padding-bottom: 8px;
    }
    .menu h4 {
      margin-top: 50px;
      padding-right: 50px;
    }
    .flex-icons {
      padding-right: 50px;
    }
    .flex-icons img {
      width: 50px;
      height: 50px;
    }
    .menu li a::after {
      height: 4px;
    }
  }
</style>
