---

---

<header>
  <div class="logo">
    <a href="/">
      <img
        src="/svg/logo.svg"
        class="logo-w-text"
        alt="Tankestrøms logo med tekst"
      />
      <img
        src="/svg/logo-icon.svg"
        class="logo-icon"
        alt="Tankestrøms logo uden tekst"
      />
    </a>
  </div>
  <nav>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <span>MENU</span>
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">FORSIDE</a></li>
        <li><a href="/eventlist">EVENTS</a></li>
        <li><a href="/ai_bot">AI-BOT</a></li>
        <li><a href="/about">OM OS</a></li>
        <li><a href="/contact">KONTAKT</a></li>
      </ul>
    </div>
  </nav>
</header>

<script>
  //@ts-nocheck
  document.addEventListener("DOMContentLoaded", function () {
    const burger = document.querySelector(".burger");
    const nav = document.querySelector("nav");
    const menu = document.querySelector(".menu");

    burger.addEventListener("click", burgerClick);
    function burgerClick() {
      burger.classList.toggle("active");
      nav.classList.toggle("active");
      menu.classList.toggle("active");
    }

    menu.addEventListener("click", menuClick);
    function menuClick() {
      burger.classList.remove("active");
      nav.classList.remove("active");
      menu.classList.remove("active");
    }
  });
</script>

<style>
  /* Header menu*/
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(17, 16, 16, 0.6); /* sort med 40% opacitet */
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    z-index: 200;
  }

  /* body {
    padding-top: 98px; 
  } */

  /* Logoer */
  .logo {
    position: relative;
    z-index: 201;
  }
  .logo-w-text {
    display: none;
    z-index: 201;
  }
  .logo-icon {
    width: 51.5px;
    height: 51.5px;
    z-index: 201;
  }

  /* Burger "ikon" */
  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 201;
  }
  /* "MENU" teksten i burgerikonet */
  .burger span {
    font-family: "helvetica_neue_lt_std75_bold";
    font-size: 17px;
    margin-top: 5px;
  }
  /* Linjerne i burgerikonet */
  .burger .line {
    width: 50px;
    height: 3px;
    background: var(--white);
    margin: 4px 0;
    transition: 0.3s;
  }

  /* Drop down menu */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--box-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 20;
  }
  .menu.active {
    transform: translateY(0);
  }
  .menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .menu li {
    font-size: 20px;
    color: var(--white);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .menu a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
  }
  .menu span {
    font-size: 20px;
  }

  /* burger-linjernes classes der kaldes i js */
  .burger.active .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
    transition: 0.25s linear;
  } /* En linje drejer 45 grader, 5px til højre (X-aksen) og 5px nedad (Y-aksen)*/

  .burger.active .line:nth-child(2) {
    transform: translateY(-7px) rotate(-45deg);
    transition: 0.25s linear;
  } /* En linje drejer 45 grader, 5px til højre (X-aksen) og 5px nedad (Y-aksen)*/

  .burger.active span {
    display: none;
  }

  @media screen and (min-width: 850px) {
    header {
      padding: 15px 50px;
    }
    /* Logo */
    .logo-w-text {
      display: block;
      max-width: 300px;
    }
    .logo-icon {
      display: none;
    }
    /* "MENU" teksten i burgerikonet */
    .burger span {
      font-size: 20px;
    }
    /* Linjerne i burgerikonet */
    .burger .line {
      width: 60px;
      height: 5px;
    }
  }
</style>
