---
//@ts-nocheck
import "../../style/general.css";
import Layout from "../../layouts/Layout.astro";
import SingleEventCard from "../../components/SingleEventCard.astro";

export async function getStaticPaths() {
  const url = "https://uvbakkgmltctqpkgfvdb.supabase.co/rest/v1/events";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2YmFra2dtbHRjdHFwa2dmdmRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc2NTgzMzMsImV4cCI6MjA2MzIzNDMzM30.OLsvC4Pl5HOP4Iwbeh4eHs68Iv0glsYj7Ff1xP4GFWg";

  const res = await fetch(url, { headers: { apikey: key } });
  const events = await res.json();

  return events.map((event) => ({
    params: { slug: event.event_slug },
    props: { event },
  }));
}

const { event } = Astro.props;
---

<Layout>
  <section>
    <SingleEventCard event={event} />
  </section>
</Layout>
